.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul.deck {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(4, 150px);
  grid-gap: 20px 20px;
  margin: 0;
  padding: 0;
}

ul.deck li {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #cacaca;
  border-radius: 4px;
}

li .icon {
  font-size: 3rem;
}

/* Displaying card icon when clicked. */
li .icon {
  display: none;
}

li.open .icon {
  display: block;
}
